* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

button {
    background-color: rgb(198, 101, 145);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}